@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300&display=swap');
@import '../../styles/breakpoints.scss';

@font-face{
    font-family: sfpro-med;
    src:url(../../assets/fonts/SFProText-Medium.ttf);
}

@font-face{
    font-family: sfpro-reg;
    src:url(../../assets/fonts/SFProText-Regular.ttf);
}


@font-face{
    font-family: avenir-demi;
    src:url(../../assets/fonts/AvenirNextLTPro-Demi.otf);
}

@font-face{
    font-family: avenir-bold;
    src:url(../../assets/fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: voyage-reg;
    src: url('../../assets/fonts/Voyage-Regular.otf');
}

@font-face {
    font-family: ogg;
    src: url('../../assets/fonts/Ogg-Roman.otf');
}

.about-container{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #191d00, rgb(12, 12, 12));
    overflow: hidden;
    position: relative;
    visibility: hidden;
    

    .about-header{
        position: relative;
        overflow: hidden;
        margin: 4rem 8rem;
        h1{
            font-family: 'ogg';
            color: rgb(192, 192, 192);
            font-size: 2.5rem;
            font-weight: 100;
            // margin: 6rem 8rem;
            letter-spacing: 0.4px;
        }
    }

    .about-contents{
        width: 100%;
        height: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        .about-left{
            z-index: 9999;
            height: 35vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            

            .about-title{
                display: flex;
                .rectangle-area{
                    overflow: hidden;
                    position: relative;
                    height: 120px;
                    // width: 100px;
                    
                    .rectangle{
                        width: 14px;
                        height: 110px;
                        background-color: rgb(184, 184, 184);
                        line-height: 0;
                    }
                }

                .main-text{
                    position: relative;
                    left: 2rem;
                    font-family: 'avenir-demi';

                    .main-text-one,
                    .main-text-two
                    {
                        position: relative;
                        overflow: hidden;
                    }

                    h1{
                        height: 6vh;
                        font-size: 3.8rem;
                        line-height: 3rem;
                        letter-spacing: -1px;
                        margin: 0rem 0rem;
                        background: -webkit-linear-gradient(left, #79fce4, #62cdff);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
                
            }


            .about-text{
                color: white;
                position: relative;
                left: 3rem;
                top: 1rem;

                .about-text-one,
                .about-text-two,
                .about-text-three,
                .about-text-four,
                .about-text-five,
                .details
                {
                    position: relative;
                    overflow: hidden;
                }
                p{
                    font-family: 'Noto Sans JP', sans-serif;
                    font-weight: 100;
                    line-height: 0;
                    letter-spacing: 1px;
                    font-size: 17px;
                    // position: absolute;

                }

                .details{
                    display: flex;
                    height: 100px;
                    position: relative;
                    top: 1.8rem;
                    
                    button{
                        height: 50px;
                        width: 50px;
                        border: none;
                        border-radius: 50px;
                        position: relative;
                        // top: 0.8rem;
                        left: 1rem;
                    }
                }
            }

            
            
        }

        .about-right{
            width: 700px;
            height: 820px;
            position: relative;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0;
                background: linear-gradient(180deg, #161a03, rgb(12, 12, 12));
                z-index: 2;
                

                // visibility: hidden;
            }

            .about-image{
                width: 100%;
                height: 100%;
                transition: .3s ease-in-out;

                &:hover{
                    transform: scale(1.05);
                }
            }
            
            img{
                position: absolute;
                right: 2rem;
                height: 100%;
                width: 690px;
                z-index: 1;
                overflow: hidden;
                
            }
        }
    }
    
}