



@font-face{
    font-family: sfpro-thin;
    src:url(../assets/fonts/SFProDisplay-Thin.ttf);
}

@font-face{
    font-family: sfpro-ultra;
    src:url(../assets/fonts/SFProDisplay-UltraLight.ttf);
}

@font-face{
    font-family: sfpro-med;
    src:url(../assets/fonts/SFProText-Medium.ttf);
}

@font-face{
    font-family: sfpro-bold;
    src:url(../assets/fonts/SFProDisplay-Bold.ttf);
}

@font-face{
    font-family: sfpro-black;
    src:url(../assets/fonts/SFProDisplay-Black.ttf);
}

@font-face{
    font-family: 'Ogg';
    src:url('../assets/fonts/Ogg-Roman.otf');
}

.App{
    height: 100vh;
    width: 100vw;
}